.controls {
  position: fixed;
  margin-bottom: 20px;
}

.sine-waves {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
  }
  
@media (max-width: 768px) {
  .sine-waves {
    flex-direction: column;
  }
}