
.App .sine-waves .react-p5-wrapper {
  background-color: gray;
}

body html {
  overflow: hidden;
  background-color: gray;
}

.p5Canvas {
  height: fit-content;
  overflow: hidden;
}

.controls {
  position: fixed;
  margin-bottom: 20px;
}

.sine-waves {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: gray;
  }
  
@media (max-width: 768px) {
  .sine-waves {
    flex-direction: column;
  }
}